.base-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.row-flex-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-links-container {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

.home-link-container {
    align-items: center;
    justify-content: center;
}

.home-link-container img {
    width: 64px;
    height: 64px;
}

.home-link-header, .results-link-header, .home-link {
    margin: 0;
    padding: 0;
}

.result-link, .home-link {
    color: white;
}

.result-download-link {
    color: greenyellow;
}

.home-link:hover {
    color: deepskyblue;
    text-decoration: none;
}

.result-link:hover {
    color: greenyellow;
}

.spo-icon {
    width: 30px;
    height: 30px;
}

.sensor-buttons-container {
    margin: 20px 0;
    justify-content: flex-start;
}

.sensor-buttons-container .spo-icon {
    width: 48px;
    height: 48px;
}

.sensor-buttons-container .spo-icon:hover {
    cursor: pointer;
    background-color: gray;
}

.diameters-heights {
    justify-content: space-between;
}

.clear-sensor-btn {
    margin: 10px 0;
}

.main-block, .sensors-block, .ellipse-block, .glyssade-block, #map {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.resolution, .sizes, .name-and-ip, .type-and-view {
    justify-content: flex-start;
    align-items: flex-start;
}

.resolution .form-group, .sizes .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.resolution .form-group label, .sizes .form-group label {
    margin-right: 10px;
}

.resolution .form-group:first-child,
.sizes .form-group:first-child,
.name-and-ip .form-group:first-child,
.type-and-view .form-group:first-child {
    margin-right: 10px;
}

.resolution .form-group:last-child,
.sizes .form-group:last-child,
.ip-address .form-group:last-child,
.name-and-ip .form-group:last-child,
.type-and-view .form-group:last-child {
    margin-left: 10px;
}


.sensor-row > p {
    margin: 0;
}

#map {
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
}

.sensor-row-buttons-container {
    justify-content: flex-start;
}

input[type="file"] {
    display: none;
}

.from-json-label {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.go-btn-container {
    justify-content: center;
    align-items: center;
}

#go-btn {
    padding: 10px 20px;
}

nav {
    background-color: black;
}